@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Dancing+Script:wght@400..700&family=Emilys+Candy&family=Italianno&family=Jim+Nightshade&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Monsieur+La+Doulaise&family=Permanent+Marker&family=Playfair+Display:ital,wght@1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Splash&family=Tangerine:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 2200px;
    background-color: black;
    padding: 20px;
}
.home-page{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: black;

}
.image-logo{
    max-width: 50px;
}
.middle-content{
    flex: 1;
    text-align: start;

    
}
.icon-content{
    flex: 0.1;
    text-align: end;
}
.logo{
    text-decoration: none;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    cursor: default;
    color: #fff;
}
.container-2{
    width: 100%;
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 80px;
    
}
.box{
    border: 2px solid white;
    height: 600px;
}
h1{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.box-img{
    width: 100%;
    height: 600px;

}